@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: linear-gradient(rgb(221, 245, 180), transparent);
  font-family: "poppins", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(77, 53, 32);
}
.fragment {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  padding: 1em;
}
.section-1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.fragment .section-1 form {
  width: 60%;
  height: 100%;
  background-color: rgb(219, 236, 189);
  border-radius: 1em;
  box-shadow: 1px 1px 20px #3333336f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  padding-top: 01em;
  padding-bottom: 01em;
}
.fragment .section-1 form input {
  width: 80%;
  height: 8vh;
  padding-left: 1em;
  border-radius: 0.5em;
  border: 1px solid #333;
  font-weight: 500;
}
.fragment .section-1 form select {
  padding: 0.5em;
  width: 20%;
  border: 1px solid #333;
  border-radius: 0.5em;
}
.fragment .section-1 form select option {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fragment .section-1 form .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 2em;
}
.fragment .section-1 form .buttons button {
  padding: 0.6em;
  border: none;
  border-radius: 0.5em;
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}
.fragment .course {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  gap: 1em;
}
.fragment .course .section-2{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e8f072;
  box-shadow: 1px 1px 20px #3333336b;
}
.fragment .course .section-2 .section{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 0.25em;
  border-bottom: 1px solid #333;
  height: 2em;
}
.fragment .course .section-2 .section h6{
  width: 20%;
}
.fragment .course .section-2 .section h5{
  width: 15%;
  text-align: center;
}
.fragment .course .section-2 .section h4{
  width: 10%;
  text-align: center;
}
.fragment .course .section-2 .section span{
  width: 15%;
  text-align: center;
}
.fragment .course .section-2 .section .remove{
  background-color: rgb(120, 14, 14);
  border-radius: 0.25em;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 0.25em;
}
.clearAll{
  padding: 0.25em;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  background-color: rgb(6, 73, 85);
  place-self: center;
}